---
import { FiExternalLink, FiGithub } from 'react-icons/fi';
import Dropdown from './Dropdown';
import ThemeToggle from './ThemeToggle';
---

<header class="z-20 sticky top-0 h-18 w-full backdrop-blur-md">
  <nav class="mx-auto max-w-3xl flex p-4 justify-between">
    <div class="flex items-center gap-4">
      <a href="/">
        <h2 class="text-xl font-bold">Maik Pleines</h2>
      </a>
      <div class="hidden md:flex gap-4">
        <a href="https://maikpleines.com" class="flex items-center gap-1">
          <FiExternalLink className="inline" />
          <span>About</span>
        </a>
        <a
          href="https://github.com/mpleines/uses-page"
          class="flex items-center gap-1"
        >
          <FiGithub className="inline" />
          <span>Source</span>
        </a>
      </div>
    </div>
    <div>
      <ThemeToggle client:idle />
    </div>
    <div class="flex md:hidden">
      <Dropdown client:idle />
    </div>
  </nav>
</header>
